.abonement {
  position: relative;
  background-color: $whitegrey;
}

.abonement__title {
  @include adv-Bebas-bold;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 50px;
  text-align: center;
}

.abonement__list {
  width: 100%;
  @include list-reset;
  display: flex;
  margin: 0 auto;
}

.abonement__item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 33%;

  min-height: 448px;
  margin-left: 40px;
  background-color: $white;
  text-align: center;
}

.abonement__item h4 {
  @include super-adv;
}

.abonement__item p {
  margin-bottom: 59px;
}

.abonement__item span {
  position: absolute;
  top: 130px;
  left: 70px;
  @include super-abonem;
  opacity: 0.48;
  color: $grey;
}

.abonement__item b {
  @include font-cost;
  color: $font-blue;
  margin-bottom: 59px;
  z-index: 5;
}

.abonement__item a {
  @include font-btn;
  display: inline-block;
  padding: 13px 20px;
  margin-left: auto;
  margin-right: auto;
  width: 57%;
  text-decoration:  none;
  border: 2px solid $dark-blue;
  margin-bottom: 68px;
  cursor: pointer;
}

.abonement__item--activ {
  border: 5px solid  $red;

}

.abonement__item a:hover,
.abonement__item a:hover {
  box-shadow: 0 0 0 2px $dark-blue;
  color: $focus-blue;
}

.abonement__item a:active {
  opacity: 0.4;
}

.abonement__btn--active {
  background-color: linear-gradient(111.72deg, #ED0233 17.6%, #003EB7 95.31%);
}
