.abonements {
  position: relative;
  background-color: $whitegrey;
  padding-bottom: 86px;
  margin: 0;
  overflow: hidden;

  @media (max-width: $tablet-width) {
    padding: 100px 0 105px;
    margin: 0 auto;
  }

  @media (max-width: $mobile-width) {
    padding-top: 68px;
    padding-bottom: 52px;
  }
}

.abonements__wrapper {
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    margin: 0 108px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 0;
    margin: 0 15px;
  }
}

.abonements__title {
  @include adv-Bebas-bold;
  margin: 0 auto;
  margin-top: 102px;
  margin-bottom: 48px;
  text-align: center;

  @media (max-width: $tablet-width) {
    margin: 0 auto 29px;
    line-height: 44px;
    font-size: 42px;
    letter-spacing: 0.03em;
  }

  @media (max-width: $mobile-width) {
    @include mobile-Bebas-title;
    margin-bottom: 20px;
    padding: 0;
  }
}

.abonements__list {
  @include list-reset;
  width: 100%;
  display: flex;

  @media (max-width: $tablet-width) {
    flex-wrap: wrap;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
  }

  &::after {
    content: "";
    position: absolute;
    width: 470px;
    height: 494px;
    bottom: -150px;
    right: -182px;
    background-image: url("../img/blin_bg_pseudo__desktop_x1.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/blin_bg_pseudo__desktop_x2.webp");
    }

    @media (max-width: $tablet-width) {
      width: 423px;
      height: 444px;
      bottom: -121px;
      right: -76px;
      background-image: url("../img/blin_bg_pseudo_tablet_x1.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/blin_bg_pseudo_tablet_x2.png");
      }
    }

    @media (max-width: $mobile-width) {
      display: none;
    }
  }
}

.abonements__item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 31%;
  min-height: 448px;
  margin-right: 40px;
  background-color: $white;
  text-align: center;
  padding-top: 22px;
  border: 8px solid transparent;

  @media (max-width: $tablet-width) {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    min-height: 385px;
    padding: 0;
    margin-bottom: 33px;
  }

  &:focus,
  &:hover {
    border: 8px solid  $red;
    border-image: linear-gradient(to right bottom, #d10a42, #00359f) 30;
  }
}

.abonements__item--full {
  margin-right: 0;
  position: relative;
  z-index: 55;

  @media (max-width: $tablet-width) {
    margin: 0 auto;
  }
}



.abonements__item h4 {
  @include desk-abonem;
  margin-bottom: 0;

  @media (max-width: $mobile-width) {
    @include super-adv;
    padding: 0;
    margin-top: 40px;
  }
}

.abonements__item p {
  margin: 13px 66px;
}

.abonements__item div {
  @include super-abonem;
  position: absolute;
  top: 130px;
  left: 70px;
  opacity: 0.48;
  color: $grey;

  @media (max-width: $tablet-width) {
    top: 28%;
    left: 26%;
  }

  @media (max-width: $mobile-width) {
    top: 30%;
    left: 20%;
    padding: 0;
    font-size: 79px;
  }
}

.abonements__item b {
  @include font-cost;
  color: $font-blue;
  margin: 29px 0 34px;
  z-index: 5;

  @media (max-width: $mobile-width) {
    font-size: 46px;
    margin-top: 20px;
  }
}

.abonements__item span {
  color: $dark-blue;
}

.abonements__item a {
  @include font-btn;
  display: inline-block;
  margin: 0 auto 20px;
  padding: 24px;
  width: 60%;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  border: 2px solid $dark-blue;
  cursor: pointer;

  & a:active {
    opacity: 0.4;
  }

  @media (max-width: $tablet-width) {
    width: 49%;
  }

  @media (max-width: $mobile-width) {
    width: 76%;
  }
}

.abonements__item:hover a,
.abonements__item:focus a {
  background-image: linear-gradient(111.72deg, #ed0233 17.6%, #003eb7 95.31%);
  color: $white;
}

.abonements__item--activ {
  border: 8px solid  $red;
  border-image: linear-gradient(to right bottom, #d10a42, #00359f) 30;
}

.abonements__list--second,
.abonements__list--third {
  display: none;
}

.abonements__list--shown {
  display: flex;
}
