.communications {
  width: 50%;
  height: 337px;
  padding: 62px 35px 0 68px;
  font-size: 20px;
  border-top: 1px solid $border-color;

  @media (max-width: $tablet-width) {
    border: none;
    width: 100%;
    justify-content: space-between;
    padding: 70px 6% 46px 12.5%;
    height: auto;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    height: auto;
    padding: 70px 4.7% 46px;
  }
}

.communications h4 {
  @include mp-reset;
  @include font-Bebas-form;
  text-transform: uppercase;
  color: $dark-blue;
  margin-left: 52px;
  margin-bottom: 27px;

  @media (max-width: $tablet-width) {
    @include tablet-Bebas-hall;
    margin-left: 37px;
  }

  @media (max-width: $mobile-width) {
    @include mobile-Bebas-title;
    margin-left: 0;
  }
}

.communications__list {
  @include list-reset;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.communications__list::before {
  content: "";
  position: absolute;
  left: 49.3%;
  top: 12px;
  width: 1px;
  height: 102px;
  background-color: $border-color;

  @media (max-width: $tablet-width) {
    height: 130px;
    left: 48.5%;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.communications__item {
  margin-bottom: 6px;
  padding-left: 56px;
  width: 45%;
  width: 50%;

  @media (max-width: $tablet-width) {
    width: 50%;
    padding: 0 0 10px 38px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 0;
    width: 100%;
  }
}

.communications__item h5 {
  margin-top: 5px;
  margin-bottom: 5px;

  @media (max-width: $tablet-width) {
    margin: 8px 0;
    font-size: 20px;
  }
}

.communications__info--link {
  @include font-min;
  text-decoration: none;
  color: $dark-blue;
  margin-top: 5px;
}

.communications__info {
  @include font-min;
  margin: 0;

  @media (max-width: $tablet-width) {
    font-size: 18px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 0;
    width: 100%;
  }
}

.communications__item--adress {
  @media (max-width: $mobile-width) {
    order: 1;
  }
}

.communications__item--shedule {
  @media (max-width: $mobile-width) {
    order: 2;
  }
}

.communications__item--tel {
  @media (max-width: $mobile-width) {
    order: 3;
  }
}

.communications__item--email {
  @media (max-width: $mobile-width) {
    order: 4;
  }
}

.communications__info--link:hover,
.communications__info--link:focus {
  opacity: 0.7;
}

.communications__info--link:active {
  opacity: 0.5;
}
