.controls__list {
  @include list-reset;
  position: relative;
  width: 341px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 39px;

  @media (max-width: $tablet-width) {
    margin-bottom: 45px;
    width: 332px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-bottom: 40px;
  }
}

.controls__btn {
  @include month-abonem;
  border: transparent;
  background-color: $whitegrey;
  color: $blue-font-opacity;
  cursor: pointer;
  padding: 2px 0 14px 3px;
  outline: none;
  border-bottom: 2px solid transparent;


  @media (max-width: $tablet-width) {
    @include font-superbas-150;
    padding-bottom: 11px;
    font-size: 18px;
  }

  @media (max-width: $mobile-width) {
    @include font-basic;
  }
}

.controls__btn:hover,
.controls__btn:focus {
  color: $black;
  border-bottom: 2px solid $red-opacity
}

.controls__btn--active {
  cursor: pointer;
  border-color: $red;
  color: $blue-font;
}

.controls__btn--active::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 10%;
  height: 2px;
  cursor: pointer;
  border-color: $red;
  color: $blue-font;

  @media (max-width: $mobile-width) {
    width: 21%;
  }
}
