.description {
  position: relative;
  width: 39.5%;
  padding-left: 53px;

  @media (max-width: $tablet-width) {
    width: 74%;
    text-align: center;
    padding: 0;
    margin: 0 auto;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding: 0 15px;
    text-align: left;
  }
}

.description__title {
  @include adv-Bebas-bold;
  text-align: start;
  margin: 59px 0 19px;
  color: $blue-font;

  @media (max-width: $tablet-width) {
    @include tablet-Bebas-hall;
    margin: 62px auto 14px;
    align-self: center;
    line-height: 26px;
    text-align: center;
  }

  @media (max-width: $mobile-width) {
    @include mobile-Bebas-title;
    margin: 25px auto 5px;
    text-align: left;
  }
}

.description__losung {
  @include font-superbas-150;
  text-align: start;

  @media (max-width: $tablet-width) {
    margin: 0 auto 90px;
  }

  @media (max-width: $mobile-width) {
    text-align: left;
  }
}

.description__text {
  @include basic-light-150;
  @include mp-reset;
  width: 90%;
  line-height: 150%;
  margin-top: 38px;
  margin-bottom: 10px;

  @media (max-width: $tablet-width) {
    text-align: center;
    width: 100%;
    margin: 35px auto 43px;
  }

  @media (max-width: $mobile-width) {
    margin: 73px auto 33px;
    padding-right: 30px;
    text-align: left;
  }
}

.description__text--desktop {
  @include mp-reset;

  @media (max-width: $tablet-width) {
    display: none;
  }
}
