.footer {
  background-color: $black;
  color: $white;
  padding: 0;

  // @media (max-width: $tablet-width) {
  // }

  @media (max-width: $mobile-width) {
    height: auto;
  }
}

.footer__wrapper {
  padding: 35px 7.3%;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
  padding: 37px 5.7%;
  justify-content: stretch;

  }

  @media (max-width: $mobile-width) {
    @include font-foot-mob;
    flex-wrap: wrap;
    flex-direction: reverse;
    align-content: flex-start;
    min-width: 100%;
    padding: 46px 15px 45px;
  }
}

.footer a {
  color: $white;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  @media (max-width: $mobile-width) {
    padding: 2px 20px 30px 0;
  }
}

.footer-social__link:hover,
.footer-social__link:focus {
  box-shadow: 0 0 0 2px $white;
}

.footer-social__link:active {
  opacity: 0.4;
}

.footer-social__list {
  @include list-reset;
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  align-content: center;
  width: 111px;
  margin-left: 19.6%;
  align-self: flex-end;

  @media (max-width: $tablet-width) {
    margin-left: 6%;
  }

  @media (max-width: $mobile-width) {
    align-items: center;
    width: auto;
  }
}

.footer-social__item {
  margin-right: 25px;

  @media (max-width: $mobile-width) {
    margin-right: 36px;
    margin-left: 0;
  }
}

.footer-social__item:last-child {
  margin-right: 0;
}


.footer-social__item--vk svg {
  width: 24px;
  height: 13px;
}

.footer-social__item--insta svg {
  width: 27px;
  height: 27px;
}

.footer-social__item--fb svg {
  width: 12px;
  height: 24px;
}
