.games {
  display: flex;
  max-width: 1160px;
  margin: 0 auto;
  width: 100%;
  color: $white;
  padding: 120px 0 100px;
  font-size: 18px;
  font-weight: 400;

  @media (max-width: $tablet-width) {
    padding: 100px 45px 96px;
    font-size: 12px;
  }

  @media (max-width: $mobile-width) {
    padding: 69px 15px;
    flex-direction: column;
  }
}

.games__description {
  padding: 80px 77px 85px 76px;
  background-color: $promo-red;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (max-width: $tablet-width) {
    padding: 40px 45px 47px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding: 40px 44px 50px;
  }
}

.games__text-wrapper {
  display: flex;
  align-items: flex-start;
  padding-left: 1px;

  @media (max-width: $mobile-width) {
    margin-bottom: -10px;
  }
}

.games__title {
  @include games-title;
  margin: 3px 0 0;

  @media (max-width: $tablet-width) {
    font-size: 52px;
    line-height: 52px;
    margin-top: 5px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 12px;
  }
}

.games__table {
  width: 100px;
  margin-left: 45px;

  @media (max-width: $tablet-width) {
    margin-left: 25px;
    width: auto;
    letter-spacing: 0.03em;
  }

  @media (max-width: $mobile-width) {
    margin-left: 25px;
  }
}

.games__text {
  margin: 7px 2px 47px;

  @media (max-width: $tablet-width) {
    margin: 0 0 25px;
  }

  @media (max-width: $mobile-width) {
    margin: 0 0 27px;
  }
}

.games__btn {
  width: 100%;
  padding: 25px 25px 24px;
  outline: none;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    padding: 11px;
    font-size: 10px;
  }

  @media (max-width: $mobile-width) {
    padding: 11px 25px 12px;
    font-size: 10px;
    border-width: 2px;
  }
}

.games__btn:hover,
.games__btn:focus {
  box-shadow: 0 0 0 3px $white;
  color: $white;
}

.games__btn:active {
  opacity: 0.4;
}

.games img {
  background-color: $dark-blue;
  width: 660px;

  @media (max-width: $tablet-width) {
    width: 386px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}
