.gym {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 75px;
  padding-left: 99px;
  margin-right: 63px;

  @media (max-width: $tablet-width) {
    padding-top: 22px;
    padding-left: 75px;
    padding-bottom: 105px;
    margin-right: 29px;
  }

  @media (max-width: $mobile-width) {
    @include mobile-Bebas-title;
    margin: 0;
    padding: 15px 0 78px;
    width: 100%;
  }
}

.gym__title {
  @include font-Bebas-title;
  @include mp-reset;
  margin-bottom: 56px;
  max-width: 298px;
  text-align: right;

  @media (max-width: $tablet-width) {
    @include tablet-Bebas-title;
    margin: 0 auto;
    margin-bottom: 39px;
  }

  @media (max-width: $mobile-width) {
    @include mobile-Bebas-main;
    margin-bottom: 38px;
  }
}

.gym__info {
  display: flex;
  justify-content: space-between;
  width: 460px;

  @media (max-width: $tablet-width) {
    @include tablet-Bebas-title;
    width: 77%;
  }

  @media (max-width: $mobile-width) {
    @include mobile-Bebas-title;
    width: 91%;
  }
}

.gym__city {
  @include font-Bebas-city;
  margin: 50px 0 24px;
  text-transform: uppercase;
  align-self: flex-end;

  @media (max-width: $tablet-width) {
    @include tablet-Bebas-city;
    margin-bottom: 7px;
  }

  @media (max-width: $mobile-width) {
    @include mobile-Bebas-city;
    margin-bottom: 8px;
  }
}

.gym__list {
  @include list-reset;
  @include font-min;
  position: absolute;
  top: 302px;
  left: 20px;
  text-align: right;

  @media (max-width: $tablet-width) {
    top: 205px;
    left: 0;
  }

  @media (max-width: $mobile-width) {
    top: 195px;
    left: 2px;
  }
}
