.hall {
  position: relative;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 100px;

  @media (max-width: 1199px) {
    width: 100%;
    padding: 0 45px;
  }

  @media (max-width: 767px) {
    padding: 0;
  }
}

.hall picture {
  @media (max-width: 1199px) {
  width: 100%;
  }
}

.hall__photo {
  width: auto;

  @media (max-width: 1199px) {
    width: 100%;
  }
}

.hall__video-container {
  position: relative;
}
