.header {
  background-color: #ed0233;
  background-image: conic-gradient(from 130.31deg at 16.03% 39.06%, #B80027 -46.69deg, #003D85 32.24deg, #B80027 313.31deg, #003D85 392.24deg);
}

.header__info {
   display: flex;
   justify-content: space-between;
}

.header__logo {
  display: inline-block;
  width: 89px;
  height: 20px;
  background-repeat: no-repeat;
  bottom: 0;
  right: 0;

    @media (max-width: $tablet-width) {
      height: 17px;
    }

    @media (max-width: $mobile-width) {
      width: 68px;
      height: 15px;
    }
}

.header__img {

  @media (max-width: $tablet-width) {
    width: 67px;
  }

  @media (max-width: $mobile-width) {
    width: 67px;
  }
}
