.header .wrapper {
  padding-bottom: 31px;

  @media (max-width: $tablet-width) {
    padding: 20px 0 0;
  }
}

.header {
  background-color: #ed0233;
  background-image: conic-gradient(from 130.31deg at 16.03% 39.06%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);
  margin-bottom: 120px;

  @media (max-width: $tablet-width) {
    padding-top: 40px;
    margin-bottom: 47px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 0;
    margin-bottom: 0;
  }
}

.header__info {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: inline-block;
  width: 89px;
  height: 20px;
  background-repeat: no-repeat;
  bottom: 0;
  right: 0;
}

.header__img {
  @media (max-width: $tablet-width) {
    width: 82px;
    height: 17px;
  }

  @media (max-width: $mobile-width) {
    width: 67px;
    height: 15px;
  }
}
