.main-screen {
  display: flex;
  margin-bottom: 20px;
  color: $white;
  width: 100%;
  @media (max-width: $tablet-width) {
    padding-right: 0;
  }

  @media (max-width: $mobile-width) {
    padding-right: 0;
  }
}
