.main-screen {
  display: flex;
  justify-content: stretch;
  margin-bottom: 71px;
  padding-right: 19px;
  color: $white;

  @media (max-width: $tablet-width) {
    padding-right: 0;
  }

  @media (max-width: $mobile-width) {
    padding-right: 0;
  }
}

