.nav {
  display: flex;
  width: 69%;

  @media (max-width: $tablet-width) {

  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }
}

.nav__list {
  @include list-reset;
  display: flex;

  @media (max-width: $mobile-width) {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: auto;
  }
}

.nav__item {
  margin-left: 40px;

  @media (max-width: $mobile-width) {
    margin-bottom: 16px;
    margin-right: 10%;
    width: 45%;
    order: 10;
  }
}

.nav__logo {
  margin-right: 24%;

  @media (max-width: $tablet-width) {
    margin-right: 7%;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 13px;
    margin-top: 2px;
  }
}


.nav__item--promo {

  @media (max-width: $mobile-width) {
  order: 2;
  margin-top: -75px;
  margin-right: 0;
  margin-left: 120px;
  }
}

.nav__item--services {

  @media (max-width: $mobile-width) {
  order: 1;
  margin-top: 0;
  }
}

.nav__item--trainers {

  @media (max-width: $mobile-width) {
  order: 4;
  margin-top: -40px;
  margin-right: 0;
  margin-left: 120px;
  }
}

.nav__item--abon {

  @media (max-width: $mobile-width) {
  order: 3;
  margin-top: 10%;
  }
}

.nav__item--tab {

  @media (max-width: $mobile-width) {
  order: 5;
  margin-top: -10px;
  margin-left: 25%;
  margin-right: 0;
  }
}
