.nav {
  display: flex;
  width: 69%;

  @media (max-width: $tablet-width) {

  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }
}

.nav__list {
  @include list-reset;
  display: flex;

  @media (max-width: $mobile-width) {
    flex-direction: column;
    align-items: flex-start;
    column: 2;
    // padding-left: 4.5%;
    // padding-right: 4.5%;
    // padding-top: 38px;
    // padding-bottom: 43px;
    height: auto;
  }
}

.nav__item {
  margin-left: 40px;

  @media (max-width: $mobile-width) {
    margin-bottom: 16px;
    margin-right: 10%;
    width: 45%;
    order: 10;
  }
}

.nav__logo {
  margin-right: 24%;

  @media (max-width: $tablet-width) {
    margin-right: 7%;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 13px;
    margin-top: 2px;
  }
}

