.nav {
  display: flex;
  width: 68.6%;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    width: 79.5%;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: 100%;
  }
}

.nav__list {
  @include list-reset;
  display: flex;
  margin-top: 12px;

  @media (max-width: $tablet-width) {
    margin-right: 20px;
  }

  @media (max-width: $mobile-width) {
    margin: -38px 0 22px;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-height: 133px;
    align-content: space-between;
  }
}

.nav__item {
  @include font-social-foot;
  margin-left: 40px;

  @media (max-width: 890px) {
    margin-left: 20px;
  }


  @media (max-width: $tablet-width) {
    margin-left: 25px;
  }

  @media (max-width: $mobile-width) {
    margin: 0;
    width: 44%;
  }
}


.nav__logo {
  margin-right: 24%;
  margin-top: 10px;
  margin-left: 5px;

  @media (max-width: $tablet-width) {
    margin-right: 9%;
    margin-left: 2px;
  }

  @media (max-width: $mobile-width) {
    margin: 0;
  }
}


.nav__item--promo {
  @media (max-width: $mobile-width) {
  }
}

.nav__item--services {
  @media (max-width: $mobile-width) {
    // order: 1;
    margin-top: 42px;
  }
}

.nav__item--trainers {
  @media (max-width: $mobile-width) {
  }
}

.nav__item--abon {
  @media (max-width: $mobile-width) {
  }
}

.nav__item--tab {
  @media (max-width: $mobile-width) {
  }
}

.nav__link {
  @media (max-width: $mobile-width) {
    display: block;
    padding: 9px 20px 16px 0;
  }
}

.nav__link:hover,
.nav__link:focus {
  opacity: 0.8;
}

.nav__link:active {
  opacity: 0.25;
}
