.photo {
  margin-top: -5px;
  object-fit: cover;
  @media (max-width: $tablet-width) {
    margin-top: 18px;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.photo img {
  @media (max-width: $tablet-width) {
    width: 324px;
    height: auto;
  }
}
