.photo {
  background-color: $blue-font;
  object-fit: cover;
  margin-top: -5px;

  @media (max-width: $tablet-width) {
    margin-top: 18px;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}
