.privilege {
  background-color: $whitegrey;
  width: 100%;
  padding: 130px 20px 120px;

  @media (max-width: $tablet-width) {
    padding: 99px 35px 66px;
  }

  @media (max-width: $mobile-width) {
    padding: 70px 0 3px;
  }
}

.privilege__title {
  @include adv-Bebas-bold;
  text-align: center;
  margin: 0 0 80px;

  @media (max-width: $tablet-width) {
    @include tablet-Bebas-hall;
    margin-bottom: 45px;
  }

  @media (max-width: $mobile-width) {
    @include mobile-Bebas-hall;
    margin-bottom: 47px;
  }
}

.privilege__list {
  @include list-reset;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $mobile-width) {
    flex-direction: column;
    padding-top: 6px;
  }
}

.privilege__item {
  position: relative;
  width: 29.3%;
  margin: 0 60px 83px 105px;
  padding: 1px 0 75px 120px;
  border-bottom: 1px solid $red-opacity;

  @media (min-width: $desktop-width) {
    &:nth-last-child(-n+2) {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  @media (min-width: $mobile-width+1) {
    &:nth-last-child(-n+1) {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  @media (max-width: $tablet-width) {
    margin: 0 0 300px 0;
    padding: 0 12px 25px 138px;
    width: 49%;
    border-bottom: none;
  }

  @media (max-width: $mobile-width) {
    @include mobile-Bebas-hall;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 71px;
    top: 0;
    left: 10px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;

    @media (max-width: $tablet-width) {
      width: 89px;
      height: 62px;
    }

    @media (max-width: $mobile-width) {
      width: 92px;
      height: 63px;
      left: calc(50% - 45px);
    }
  }
}

.privilege__item--long {
  padding-left: 138px;

  @media (max-width: $tablet-width) {
    padding-left: 128px;
    padding-right: 25px;
  }

  @media (max-width: $mobile-width) {
    padding: 77px 68px 46px;
  }

  &::before {
    @media (max-width: $mobile-width) {
      left: calc(50% - 44px);
    }
  }
}

.privilege__item--short {
  padding-left: 100px;

  @media (max-width: $tablet-width) {
    padding-left: 95px;
  }

  @media (max-width: $mobile-width) {
    padding: 77px 46px 38px;
  }

  &::before {
    @media (max-width: $mobile-width) {
      left: calc(50% - 30px);
    }
  }
}

.privilege__item--square::before {
  background-image: url("../../img/square.svg");
  // width: 108px;

  @media (max-width: $mobile-width) {
    background-image: url("../../img/square_mobile.svg");
  }
}

.privilege__item--parking::before {
  background-image: url("../../img/parking.svg");

  @media (max-width: $mobile-width) {
    background-image: url("../../img/parking_mobile.svg");
  }
}

.privilege__item--comfort::before {
  background-image: url("../../img/comfort.svg");

  @media (max-width: $mobile-width) {
    background-image: url("../../img/comfort_mobile.svg");
  }
}

.privilege__item--xp::before {
  background-image: url("../../img/xp.svg");

  @media (max-width: $mobile-width) {
    background-image: url("../../img/xp_mobile.svg");
  }
}

.privilege__losung {
  line-height: 0.7em;
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 13px;

  @media (max-width: $tablet-width) {
    font-size: 20px;
    margin-bottom: 6px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 11px;
  }
}

.privilege__text {
  text-align: left;
  font-weight: 300;
  margin: 0;
  text-align: left;

  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: 140%;
    text-align: center;
  }
}

.privilege__item--center {
  position: absolute;
  display: table;
  top: 0;
  bottom: 0;
  left: calc(50% - 111px);
  margin: 0;
  padding: 75px 34px 60px;
  width: 240px;
  height: auto;
  color: $white;
  background-color: $dark-blue;
  text-align: center;

  @media (max-width: $tablet-width) {
    padding: 58px 130px 36px;
    width: 433px;
    left: calc(50% - 217px);
    top: 110px;
  }

  @media (max-width: $mobile-width) {
    position: static;
    display: block;
    margin: 6px 0 44px;
    padding: 38px 74px 50px;
    width: 100%;
  }

  &::before {
    display: none;
  }

}
.privilege__item--center strong {
    display: block;
    font-size: 72px;
    padding-bottom: 46px;

    @media (max-width: $tablet-width) {
      padding-bottom: 40px;
    }

    @media (max-width: $mobile-width) {
      line-height: 72px;
      padding-bottom: 5px;
    }
  }

.privilege__item--center .privilege__losung {
    font-size: 26px;
    margin-bottom: 40px;

    @media (max-width: $tablet-width) {
      font-size: 22px;
      text-align: center;
      margin-bottom: 22px;
    }

    @media (max-width: $mobile-width) {
      margin-bottom: 20px;
    }
}

.privilege__item--center .privilege__text {
    @media (max-width: $tablet-width) {
      text-align: center;
    }
  }
