.promotions__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 65px;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    width: 48%;
  }
}

.promotions__list {
  display: flex;
}

.promotions__list--action {
  flex-direction: column;
  width: 48%;

  @media (max-width: $tablet-width) {
    flex-direction: row;
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding-left: 0;
    flex-direction: column;
  }
}

.promotions__list--abonement {
  width: 48%;

  @media (max-width: $tablet-width) {
    width: 100%;
    min-height: 462px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    min-height: 299px;
    text-align: center;
    flex-direction: column;
    padding: 0;
  }
}

.promotions__list--action .promotions__item {
  border: 7px solid $promo-red;
  border-image: linear-gradient(to right bottom, #d10a42, #00359f) 30;

  @media (max-width: $mobile-width) {
    text-align: center;
    padding: 39px 25px 39px;
  }
}

.promotions__list--action p {
  width: 53%;
  padding: 20px 35px 35px;

  @media (max-width: $tablet-width) {
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    margin: 0 auto;
    padding: 0;
  }
}

.promotions__item {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
    padding: 20px 17px;
  }

  // @media (max-width: $mobile-width) {
  // }
}

.promotions h3 {
  @include adv-Bebas-bold;
  text-align: center;
  margin: 95px 0 0;
}

.promotions__item--unlimited h4 {
  @include super-year;
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
  }

  // @media (max-width: $mobile-width) {
  // }
}

.promotions__item--unlimited {
  background-color: $promo-red;
  color: $white;
  height: 462px;


  @media (max-width: $tablet-width) {
    width: 41.1%;
    padding-left: 6.6%;
    padding-right: 0;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    text-align: center;
    padding: 0 51px;
  }
}

.promotions__item--unlimited p {
  width: 84%;
  font-size: 18px;

  @media (max-width: $tablet-width) {
    width: 89%;
  }

  @media (max-width: $mobile-width) {
    @include font-superbas;
    width: 65%;
    text-align: center;
  }
}

.promotions__top h4,
.promotions__bottom h4 {
  @include super-bold;
  line-height: 1;
  margin: 0;

  @media (max-width: $tablet-width) {
    margin-left: 30px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
  }
}

// .promotions__bottom {
//   margin-bottom: 30px;
// }

.promotions b {
  @include font-super;
  line-height: 1.5;
  margin-top: -22px;
  margin-bottom: 18px;

  @media (max-width: $tablet-width) {
    margin: 0;
  }
}

.promotions p {
  margin-bottom: 10px;

  @media (max-width: $tablet-width) {
    margin: 0;
  }

  @media (max-width: $mobile-width) {
    width: 99%;
    margin-bottom: 20px;
  }
}

.promotions__item--discount {
  width: 100%;
  margin-bottom: 40px;
  height: 211px;
  padding: 18px 4.9% 28px;
  color: $action-blue;

  @media (max-width: $tablet-width) {
    width: 48%;
    padding: 18px 1.5% 28px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding: 18px 35px 28px;
  }
}

.promotions__item--discount--one {
  margin-right: 30px;
}

.promotions__item--photo {
  display: block;
  width: 50%;
  height: 462px;
  background-image: url("../img/fit-girl-desktop@1x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../img/fit-girl-desktop@2x.png");
  }

  @media (max-width: $tablet-width) {
    width: 58.9%;
    height: 462px;
    background-image: url("../img/fit-girl-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/fit-girl-tablet@2x.png");
    }
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    height: 299px;
    background-image: url("../img/fit-girl-mobile@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/fit-girl-mobile@2x.png");
    }
  }
}

.promotions__link {
  cursor: pointer;
  outline: none;
}

.promotions__link:hover,
.promotions__link:focus {
  box-shadow: 0 0 0 3px $action-blue;
}

.promotions__link:active {
  opacity: 0.4;
}


.promotions__link--unlimited {
  @include font-link;
  color: $white;
  margin-top: 90px;
  text-transform: uppercase;
}

.promotions__link--unlimited:hover,
.promotions__link--unlimited:focus {
  box-shadow: 0 0 0 4px $white;
  color: $white;
}

.promotions__link--unlimited:active {
  opacity: 0.4;
}

.promotions__link--discount {
  @include font-link;
  text-transform: uppercase;
  align-self: flex-end;
  color: $action-blue;

  @media (max-width: $tablet-width) {
    @include font-btn;
    align-self: start;
    margin-left: 35px;
  }

  @media (max-width: $mobile-width) {
    align-self: center;
  }
}
