.registration {
  width: 50%;
  height: 337px;
  background-color: $action-blue;
  text-transform: uppercase;
  padding: 0 170px 30px 103px;

  @media (max-width: $tablet-width) {
    width: 100%;
    height: auto;
    padding: 0 20.7% 37px 16.9%;
  }

  @media (max-width: $mobile-width) {
    padding: 9px 15px 30px 15px;
    height: 386px;
  }
}

.registration h4 {
  @include font-Bebas-form;
  text-transform: uppercase;
  color: $white;
  margin-top: 63px;
  margin-bottom: 30px;

  @media (max-width: $tablet-width) {
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 0.03em;
    margin: 71px 3px 32px;
  }

  @media (max-width: $mobile-width) {
    @include mobile-Bebas-title;
    margin: 61px 0 30px;
  }
}

.registration__btn {
  width: 99%;
  font-size: 14px;
  margin: 0 auto;
  padding-top: 18px;
  padding-bottom: 16px;
  margin-bottom: 30px;
  text-transform: uppercase;
  background-color: transparent;
  // @media (max-width: $tablet-width) {
  // }
  @media (max-width: $mobile-width) {
    width: 100%;
    margin-top: 10px;
  }
}

.registration__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.registration__form input {
  border-radius: 0;
  width: 46%;
  border: none;
  background-color: $action-blue;
  border-bottom: 1px solid $border-color;
  margin-bottom: 25px;
  outline: none;
  cursor: pointer;
  font-size: 13px;
  color: $white;
  padding: 7px 0;

  @media (max-width: $tablet-width) {
    width: 43%;
    margin: 0 0 27px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 11px;
    width: 100%;
  }
}

.registration__form input:hover,
.registration__form input:focus {
  opacity: 0.6;
}

.registration__form input:active {
  opacity: 0.4;
}

.registration__form input::placeholder {
  color: $white;
}
