.reviews {
  margin-bottom: 120px;
  position: relative;
}

.reviews h3 {
  @include adv-Bebas-bold;
  text-align: center;
  margin-bottom: 60px;
}

.reviews__list {
  @include list-reset;
  width: 560px;
  height: 242px;
  background-color: $action-blue;
  color: $white;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    height: 335px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.reviews__item {
  width: 560px;
  position: relative;
  height: 100%;
  display: flex;
  margin-bottom: 120px;

  @media (max-width: $tablet-width) {
    width: 566px;
  }

  @media (max-width: $mobile-width) {
    padding: 85px 12% 32px;
    width: 100%;
  }
}

.reviews__photo {
  position: absolute;
  margin-right: 28px;
  width: 25%;
  height: auto;
  top: 62px;
  left: 61px;
}

.reviews__item--hidden {
  display: none;
}

.reviews__client {
  max-height: 118px;
  padding: 57px 11% 15px 30.5%;


  @media (max-width: $mobile-width) {
    padding: 0 4% 30px 5%;
  }
}

.reviews__client h4 {
  @include review;
  @include mp-reset;

  @media (max-width: $mobile-width) {
    padding-left: 80px;
  }
}

.reviews__client p {
  width: 100%;

  @media (max-width: $mobile-width) {
    @include font-basic;
    line-height: 140%;
    height: 50%;
  }
}

.reviews__btn {
  top: -150px;
}

.reviews__slider-btn-left {
  top: 50%;
  left: 346px;

  @media (max-width: $tablet-width) {
    left: 5%;
  }

  @media (max-width: $mobile-width) {
    left: 3%;
    height: 36px;
  }
}

.reviews__slider-btn-right {
  top: 50%;
  right: 346px;

  @media (max-width: $tablet-width) {
    right: 5%;
  }

  @media (max-width: $mobile-width) {
    right: 3%;
    height: 36px;
  }
}
