.slider__btn {
  position: absolute;
  display: block;
  width: 30px;
  height: 32px;
  background-color: transparent;
  border: none;
  outline: none;
  background-repeat: no-repeat;
  background-size: contain;

  @media (max-width: $mobile-width) {
    top: 45%;
  }
}

.slider__btn--start {
  background-image: url("../img/start.svg");
}

.slider__btn--finish {
  background-image: url("../img/finish.svg");
  background-position-x: 13px;
}

.slider__btn:hover,
.slider__btn:focus {
  box-shadow: 0 0 0 2px $action-blue;
  color: $white;
}

.slider__btn:active {
  opacity: 0.4;
}

