.slider__btn {
  content: "";
  position: absolute;
  display: block;
  width: 16px;
  height: 32px;
  background-color: $white;
  background-repeat: no-repeat;
  z-index: 5;
  border: none;
  outline: none;

  @media (max-width: $mobile-width) {
    width: 36px;
    height: 36px;
  }
}

.slider__btn--start {
  background-image: url("../img/start.svg");

  @media (max-width: $mobile-width) {
    width: 10px;
    height: 19px;
  }
}

.slider__btn--finish {
  background-image: url("../img/finish.svg");
  right: 46px;
  top: 171px;

  @media (max-width: $mobile-width) {
    width: 10px;
    height: 19px;
  }
}

.slider__btn:hover,
.slider__btn:focus {
  box-shadow: 0 0 0 2px $action-blue;
  color: $white;
}

.slider__btn:active {
  opacity: 0.4;
}

// .slider__control--show {

// }
