.social {
  @include list-reset;
  background-size: 200px;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-content: flex-end;
  margin-left: auto;
  margin-bottom: 38px;
  text-align: right;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.social__link {
  @include font-social;
  color: $white;
  text-decoration: none;
  margin-bottom: 24px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.social__link:hover,
.social__link:focus {
  box-shadow: 0 0 0 2px $action-blue;
  color: $white;
}

.social__link:active {
  opacity: 0.4;
}

.social__item {
  padding: 9px 0 0;
}
