.trainers {
  position: relative;
  max-width: 1366px;
  margin: 0 auto 120px;
  overflow: hidden;

  @media (max-width: $tablet-width) {
    margin: 0 auto;
    width: 678px;
    padding: 0 5.8% 100px;
  }

  @media (max-width: $mobile-width) {
    max-width: 290px;
    padding: 0 15px 74px;
  }
}

.trainers__title {
  @include adv-Bebas-bold;
  margin-top: 33px;
  margin-bottom: 61px;
  padding-left: 7px;
  font-size: 48px;
  letter-spacing: 0.04em;

  @media (max-width: $tablet-width) {
    @include tablet-Bebas-hall;
    text-align: center;
    margin: 0 auto 40px;
  }

  @media (max-width: $mobile-width) {
    @include mobile-Bebas-title;
    padding-left: 0;
    margin-top: 3px;
  }
}

.trainers__wrap {
  max-width: 1164px;
  box-sizing: border-box;
  margin: 0 7.6%;
  overflow: hidden;

  @media (max-width: $tablet-width) {
    max-width: 676px;
    margin: 0 auto;
  }

  @media (max-width: $mobile-width) {
    max-width: 226px;
  }
}

.trainers__list {
  @include list-reset;
  position: relative;
  display: flex;
  width: 1160px;

  @media (max-width: $tablet-width) {
    width: auto;
    min-width: 566px;
  }

  @media (max-width: $mobile-width) {
    min-width: 226px;
  }
}

.trainers__item {
  position: relative;
  width: 260px;
  height: 294px;
  display: block;
  color: $white;
  flex-shrink: 0;
  flex-grow: 0;
  z-index: 2;
  overflow: hidden;
  margin-right: 3.4%;

  @media (max-width: $tablet-width) {
    width: 266px;
    margin-right: 30px;
  }

  @media (max-width: $mobile-width) {
    width: auto;
    height: 274px;
  }

  &:hover .trainers__info,
  &:active .trainers__info,
  &:focus .trainers__info {
    transform: translate(0, 0);
    background-color: rgba(16, 38, 84, 0.89);
    margin: 0;

    @media (max-width: $mobile-width) {
      width: auto;
      height: 274px;
    }
  }

  &:hover h4,
  &:active h4,
  &:focus h4 {
    margin-top: 52px;
    margin-bottom: 5px;

    @media (max-width: $mobile-width) {
      margin-top: 41px;
    }
  }
}

.trainers__item picture {
  width: 100%;
  height: 100%;
}

.trainers__item img {
  width: 260px;
  height: 294px;
  display: block;
  object-fit: contain;

  @media (max-width: $tablet-width) {
    width: 268px;
    height: 294px;
  }

  @media (max-width: $mobile-width) {
    width: 226px;
    height: 274px;
  }
}

.trainers__info {
  position: absolute;
  background-color: transparent;
  transition: all 0.8s ease 0s;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin-top: 244px;
  text-align: center;
}

.trainers__info h4 {
  @include super-name;
  margin-top: 0;
  margin-bottom: 60px;
}

.trainers__info p {
  margin: 0;
  line-height: 6px;
  margin-bottom: 41px;

  @media (max-width: $mobile-width) {
    line-height: 3em;
  }
}

.trainers__item:hover h4 {
  margin-top: 52px;
  margin-bottom: 5px;
}

.trainers__achievs-list {
  text-align: start;
  padding: 0 20px 10px 72px;
  font-size: 14px;
  list-style: disc;

  @media (max-width: $mobile-width) {
    padding-left: 50px;
  }

  .trainers__achievs-list li {
    margin-bottom: 13px;
    line-height: 21px;
  }
}

.trainers__list--active {
  display: flex;
}

.trainers__slider-btn-left {
  position: absolute;
  top: 60%;
  left: 45px;
  cursor: pointer;
  background-color: transparent;

  @media (max-width: $tablet-width) {
    top: 45%;
    left: 0;
  }

  @media (max-width: $mobile-width) {
    width: 10px;
    height: 19px;
    left: -5px;
  }
}

.trainers__slider-btn-right {
  position: absolute;
  top: 60%;
  right: 45px;
  cursor: pointer;
  background-color: transparent;

  @media (max-width: $tablet-width) {
    top: 45%;
    right: 0;
  }

  @media (max-width: $mobile-width) {
    right: 5px;
    width: 10px;
    height: 19px;
  }
}
