.trainers {
  position: relative;
  max-width: 1366px;
  margin: 0 auto 120px;
  padding-left: 7.3%;
  padding-right: 7.3%;

  @media (max-width: $tablet-width) {
    padding-top: 71px;
    padding-bottom: 80px;
    padding: 0 100px;
    margin: 0 auto;
  }
  @media (max-width: $mobile-width) {

  }
}

.trainers__title {
  @include adv-Bebas-bold;
  margin-bottom: 50px;

  @media (max-width: $tablet-width) {
    @include tablet-Bebas-hall;
    text-align: center;
    margin-bottom: 39px;
  }
  @media (max-width: $mobile-width) {

  }
}

.trainers__list {
  position: relative;
  @include list-reset;
  display: flex;

  @media (max-width: $tablet-width) {
    width: 74%;
    justify-content: space-between;
  }
  @media (max-width: $mobile-width) {

  }
}

.trainers__item  {
  position: relative;
  width: 23%;
  height: 294px;
  margin-right: 40px;
  z-index: 55;

  @media (max-width: $tablet-width) {
    width: 47%;
  }
  @media (max-width: $mobile-width) {
    width: 100%;
    height: 274px;
  }
}

.trainers__item  picture {
  width: 100%;
  height: 100%;
}

.trainers__item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.trainers__item--four {
  margin-right: 0;
}

.trainers__list--hidden {
  display: none;
}

.trainers__list--visual {
  display: block;
}

.trainers__info h4 {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 200px;
  @include super-name;
  color: $white;
  text-align: center;
}


.trainers__info-hide {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 56px;
  padding-bottom: 23px;
  line-height: 1;
  color: $white;
  display: none;
  @include font-min;

  @media (max-width: $tablet-width) {
    background-color: $overlay-color;
  }

}

.trainers__item--three,
.trainers__item--four {

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.trainers__list--hidden {
    display: none;
}

.trainers__list--active {
   display: flex;
}

.trainers__info-hide {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.trainers__item:focus .trainers__info-hide,
.trainers__item:hover .trainers__info-hide {
  display: block;
}

.trainers__slider-btn-left {
  position: absolute;
  top: 50%;
  left: 45px;
}
