.trainers {
  margin: 0 auto 120px;
  display: flex;

  @media (max-width: $tablet-width) {
    margin: 0 auto;
    padding: 0 0 100px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 0 70px;
  }
}

.trainers__wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1272px;
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet-width) {
    width: auto;
    max-width: 100%;
  }

  @media (max-width: $mobile-width) {
    width: 290px;
  }
}

.trainers__title {
  @include adv-Bebas-bold;
  width: 1160px;
  align-self: center;
  // margin: 0 0 50px;
  margin: 32px 0 63px;
  font-size: 48px;
  letter-spacing: 0.04em;

  @media (max-width: $tablet-width) {
    @include tablet-Bebas-hall;
    text-align: center;
    width: auto;
    margin: 4px auto 40px;
  }

  @media (max-width: $mobile-width) {
    @include mobile-Bebas-title;
    padding-left: 0;
    margin: 1px auto 42px;
  }
}

.trainers__slider {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    width: 682px;
  }

  @media (max-width: $mobile-width) {
    width: 290px;
  }
}

.trainers__slider-wrapper {
  overflow: hidden;
  width: 1160px;

  @media (max-width: $tablet-width) {
    width: 566px;
  }

  @media (max-width: $mobile-width) {
    width: 226px;
    margin: 0 auto;
  }
}

.trainers__list {
  @include list-reset;
  // margin: 0 auto;
  // position: relative;
  display: flex;
  // width: 1160px;
  box-sizing: border-box;
  transition: transform 0.4s ease-in-out;
  will-change: transform;

  @media (max-width: $tablet-width) {
    width: auto;
    min-width: 566px;
    margin: 0 auto;
  }

  @media (max-width: $mobile-width) {
    min-width: 226px;
    width: 226px;
  }
}

.trainers__item {
  position: relative;
  // width: 260px;
  // height: 294px;
  // display: block;
  color: $white;
  flex-shrink: 0;
  flex-grow: 0;
  z-index: 2;
  overflow: hidden;
  margin-right: 40px;

  @media (max-width: $tablet-width) {
    width: 266px;
    margin-right: 32px;
  }

  @media (max-width: $mobile-width) {
    width: 226px;
    height: 274px;
    margin: 0;
  }

  &:hover .trainers__info,
  &:active .trainers__info,
  &:focus .trainers__info {
    transform: translate(0, 0);
    background-color: rgba(16, 38, 84, 0.89);
    margin: 0;

    @media (max-width: $mobile-width) {
      width: auto;
      height: 274px;
    }
  }

  &:hover h4,
  &:active h4,
  &:focus h4 {
    margin-top: 52px;
    margin-bottom: 5px;

    @media (max-width: $mobile-width) {
      margin-top: 41px;
    }
  }
}

.trainers__item picture {
  width: 100%;
  height: 100%;
}

.trainers__pict {
  display: flex;
  object-fit: cover;
}

.trainers__item img {
  width: 260px;
  height: 294px;
  display: block;
  object-fit: contain;

  @media (max-width: $tablet-width) {
    width: 268px;
    height: 294px;
  }

  @media (max-width: $mobile-width) {
    width: 226px;
    height: 274px;
    object-fit: cover;
  }
}

.trainers__info {
  position: absolute;
  background-color: transparent;
  transition: all 0.8s ease 0s;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin-top: 244px;
  text-align: center;
}

.trainers__info h4 {
  @include super-name;
  margin-top: 0;
  margin-bottom: 60px;
}

.trainers__item:hover h4 {
  margin-top: 52px;
  margin-bottom: 5px;

  @media (max-width: $mobile-width) {
    margin: 42px 0 5px;
  }
}

.trainers__info p {
  margin: 0;
  line-height: 6px;
  margin-bottom: 41px;

  @media (max-width: $mobile-width) {
    line-height: 0.5em;
  }
}

.trainers__achievs-list {
  text-align: start;
  padding: 0 20px 10px 72px;
  font-size: 14px;
  list-style: disc;

  @media (max-width: $mobile-width) {
    padding-left: 50px;
  }
}

.trainers__achievs-list li {
  margin-bottom: 13px;
  line-height: 21px;

  @media (max-width: $tablet-width) {
    margin-bottom: 10px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 0;
    margin-bottom: 12px;
  }
}

.trainers__slider-btn-left {
  left: 2.5%;

  @media (max-width: $tablet-width) {
    left: 0;
  }

  @media (max-width: $mobile-width) {
    left: 0;
  }
}

.trainers__slider-btn-right {
  right: 2.5%;

  @media (max-width: $tablet-width) {
    right: 0;
  }

  @media (max-width: $mobile-width) {
    right: 0;
  }
}
