.video {
  margin: -150px auto 100px;

  @media (max-width: 1199px) {
    width: 43%;
    margin-top: -14%;
  }

  @media (max-width: 767px) {
    width: 100%;
    margin-top: 50px;
  }
}

.video__poster {
  position: relative;

  @media (max-width: 1199px) {
    width: 100%;
    height: auto;
  }
}

.video__button {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0;
  border: none;
  padding: 0;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  font-size: 0;
  background-color: transparent;
  background-image: url('../img/video_playbtn.svg');
  background-repeat: no-repeat;
  background-size: 100px 100px;
  outline: none;

  @media (max-width: 1199px) {
    width: 73px;
    height: 73px;
    top: calc(50% - 36.5px);
    left: calc(50% - 36.5px);
    background-size: 73px 73px;
  }
}

.video__button:hover,
.video__button:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.video__button:active {
  background-color: rgba(0, 0, 0, 0.6);
}
