$bg-grey: rgba(184, 184, 184, 1);
$white: rgba(255, 255, 255, 1);
$blue-font: rgba(16, 38, 84, 1);
$blue: rgba(0, 61, 133, 1);
$dark-blue: rgba(16, 38, 84, 1);
$adv-blue: rgba(16, 38, 84, 0.5);
$focus-blue: rgba(16, 38, 84, 0.3);
$dark-grey:rgba(120, 120, 120, 0.2);
$font-blue: rgba(16, 58, 174, 1);
$red: rgba(209, 10, 66, 1);
$red-opacity: rgba(209, 10, 66, 0.2);
$whitegrey: rgba(248, 249, 252, 1);
$grey: rgba(232, 232, 232, 1);
$mobile-width: 767px;
$tablet-width: 1199px;
$desktop-width: 1200px;
$super-width: 1366px;
// $transition-duration: 0.3s;
// $transition-type: ease;
// $opacity-hover: 0.6;
// $opacity-active: 0.3;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

@mixin font-Bebas-title {
  font-family: "Bebas Neue", "Arial Narrow", sans-serif;
  font-size: 109px;
  line-height: 109px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

@mixin tablet-Bebas-title {
  font-size: 86px;
  line-height: 86px;
}


@mixin mobile-Bebas-title {
  font-size: 32px;
  line-height: 32px;
}

@mixin font-Bebas-tel {
  font-family: "Bebas Neue", "Arial Narrow", sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}

@mixin tablet-Bebas-tel {
  line-height: 24px;
  font-size: 24px;
  letter-spacing: 0.02em;
}

@mixin mobile-Bebas-tel {
  line-height: 40px;
  font-size: 20px;
}

@mixin font-Bebas-city {
  font-family: "Bebas Neue", "Arial Narrow", sans-serif;
  font-weight: 300;
  font-size: 49px;
  letter-spacing: 0.03em;
}

@mixin adv-Bebas-bold {
  font-family: "Bebas Neue", "Arial Narrow", sans-serif;
  font-weight: 700;
  font-size: 49px;
  letter-spacing: 0.03em;
}


@mixin tablet-Bebas-city {
  font-size: 34px;
  line-height: 34px;
}

@mixin tablet-Bebas-hall {
  font-size: 42px;
  line-height: 42px;
}

@mixin mobile-Bebas-hall {
  font-size: 32px;
  line-height: 32px;
}

@mixin mobile-Bebas-city {
  font-size: 28px;
  line-height: 44px;
}

@mixin adv-Bebas-title {
  font-family: "Bebas Neue", "Arial Narrow", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
}

@mixin font-Bebas-form {
  font-family: "Bebas Neue", "Arial Narrow", sans-serif;
  font-size: 49px;
  letter-spacing: 0.03em;
}


@mixin super-abonem {
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 150%;
}

@mixin desk-abonem {
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-weight: 700;
  font-size: 26px;
}

@mixin month-abonem {
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}

@mixin font-cost {
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-weight: bold;
  font-size: 60px;
  line-height: 150%;
}

@mixin font-basic {
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

@mixin basic-light {
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
}

@mixin basic-light-150 {
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
}

@mixin super-adv {
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-weight: 700;
  font-size: 22px;
}

@mixin super-bold {
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 150px;
}

@mixin super-year {
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 156%;
}

@mixin font-btn {
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
}

@mixin font-social {
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}


@mixin font-min {
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

@mixin font-superbas {
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
}

@mixin font-superbas-150 {
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
}

@mixin super-name {
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
}

@mixin font-super {
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-weight: bold;
  font-size: 70px;
  line-height: 156%;
}

@mixin font-link {
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

@mixin link-min {
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
}
